.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #454753;
}
.loginCard {
  background-color: #343641;
  padding: 2rem;
  border-radius: 5px;
  width: 300px;
}
.loginHeader {
  font-family: "Courier New", monospace;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
.loginButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.loginButton {
  background-color: #454753;
  color: #ffffff;
  border: 1px solid #454753;
}
.joinRoomButton {
  background-color: #495057;
  color: #ffffff;
  border: 1px solid #495057;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 10px;
}

.divider {
  border-bottom: 1px solid #3f4147;
  margin: 5px 0;
}


.messageWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}


.messageInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timestamp {
  color: #9599a4;
  font-size: 0.8rem;
  margin-left: 1rem;
}

.form-group {
  margin-bottom: 1rem; /* Add this line */
  background-color: #343a40;
  color: #343a40;
  border-color: #495057;
}

.message {
  background-color: #495057;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.dark {
  background-color: #313338;
  color: #ffffff;
}

.form-control {
  background-color: #343a40;
  color: #ffffff;
  border: 1px solid #495057;
}

.btn {
  background-color: #495057;
  color: #ffffff;
  border: 1px solid #495057;
}

.btn:hover {
  background-color: #3e3e3e;
  border-color: #3e3e3e;
}


.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2b2d31;
  padding: 1rem;
}

.chat {
  margin-left: 250px;
  padding: 1rem;
}

.chatHeader {
  background-color: #313338;
  padding: 1rem;
  text-align: center;
}

.chatBox {
  height: 75vh;
  overflow-y: scroll;
  background-color: #313338;
  border: 1px solid #313338;
  margin-bottom: 1rem;
  padding: 1rem; /* Add padding */
}


.userMessage {
  background-color: #313338;
  padding: 0.5rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  display: inline-block;
}
.messageContainer {
  padding: 5px 0;
}


.username {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

.otherMessage {
  background-color: #313338;
  padding: 0.5rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  display: inline-block;
}


.currentRoom {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}
.roomSelection {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #363a3f;
  padding: 1rem;
  border-left: 1px solid #495057;
}

.roomsList {
  margin-top: 1rem;
}

.roomsList ul {
  list-style-type: none;
  padding: 0;
}

.roomsList li {
  cursor: pointer;
  color: #ffffff;
  margin-bottom: 5px;
}

.roomsList li:hover {
  text-decoration: underline;
}


.btnDisabled {
  background-color: #495057;
  color: #868895;
  border: 1px solid #5f606c;
  opacity: 0.6;
}

.btnActive {
  background-color: #495057;
  color: #868895;
  border: 1px solid #868895;
}

.btnDisabled:disabled {
  cursor: not-allowed;
}



.input-group {
  width: 50%;
  margin: 0 auto; /* Add this line to center it */
}


/* Add this style to fix the input and scrollbar colors */
input[type='text'],
input[type='password'] {
  color: #ffffff; /* Add this line to make the text color white */
  background-color: #343a40;
  border: 1px solid #495057;
}

input[type='text']:focus,
input[type='password']:focus {
  color: #ffffff; /* Add this line to make the text color white when focused */
  background-color: #343a40;
  outline: none;
}




input[type='text']::-webkit-scrollbar,
input[type='password']::-webkit-scrollbar {
  width: 6px;
  background-color: #2e3339;
}

input[type='text']::-webkit-scrollbar-thumb,
input[type='password']::-webkit-scrollbar-thumb {
  background-color: #1d2322;
}

.chatBox::-webkit-scrollbar {
  width: 6px;
  background-color: #2e3339;
}

.chatBox::-webkit-scrollbar-thumb {
  background-color: #1d2322;
}